<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JustDoIt! - Tareas de Usuario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<div class="container">

    <!-- Sidebar igual que Home -->
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>

    <!-- Contenido (solo cambia esta parte) -->
    <main class="content">

        <p th:if="${errorMessage}" th:text="${errorMessage}" class="validationError"></p>

        <div class="tasks-grid">
            <div th:replace="~{fragments/taskfragments :: taskColumn('PENDING', ${pendingTasks}, 'PENDING', 'pending')}"></div>
            <div th:replace="~{fragments/taskfragments :: taskColumn('INPROGRESS', ${inprogressTasks}, 'INPROGRESS', 'inprogress')}"></div>
            <div th:replace="~{fragments/taskfragments :: taskColumn('DONE', ${doneTasks}, 'DONE', 'done')}"></div>
        </div>

    </main>

</div>

</body>
</html>
